<!DOCTYPE html>
<html>
	<head>

		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>添加</title>
		<style type="text/css">
			html {
				height: 100%
			}

			body {
				height: 100%;
				margin: 0px;
				padding: 0px
			}

			#container {
				height: 100%
			}
		</style>
		{% load staticfiles %}
		<script src="{% static "js/jquery-2.1.1.min.js" %}" type="text/javascript"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=fci7iKfiurBcqTSeXEm0lGtw"></script>
		<!--  //此为v1.5版本的引用方式 //http://api.map.baidu.com/api?v=1.5&key=您的密钥&callback=initialize";//此为v1.4版本及以前版本的引用方式 -->
	</head>
	<base target="_self">
	<body onload = "init()">
		<div id="container">
			<form action="" method="post">
				{% csrf_token %}
				<table border="0" cellpadding="0" >
					{{ form.errors }}
					{{form.as_table}}
				</table>
				<p>
					<input type="submit" value="保存"/>
				</p>
			</form>
		</div>
		<script type="text/javascript">
			function save() {
				// window.opener.location.reload();

				window.close();

			}

			function init() {

			}

			function initSelect(id_select, itemList) {
				var objSelect = document.getElementById(id_select);
				var jsonobj_itemlist = JSON.parse(itemList);
				for (var key in jsonobj_itemlist) {
					var jsonobj = jsonobj_itemlist[key];
					var varItem = new Option(jsonobj.title, jsonobj);
					objSelect.options.add(varItem);
				}
			}

			function getLineList(map) {
				$.ajax({
					type : "GET",
					url : "/get_line_list/",
					dataType : "json",
					success : function(json) {
						// window.alert(json[0]);

						// 1 解析JSON

						// 2 得到点列表
					}
				});
			}
		</script>
	</body>
</html>
