<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<title>欢迎来到 旅程地图</title>
		<meta charset="utf-8">
		{% load staticfiles %}
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=fci7iKfiurBcqTSeXEm0lGtw"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/library/CurveLine/1.5/src/CurveLine.js"></script>

	</head>
	<body id="page1" onload = "init()">
		<!--==============================header=================================-->
		{% include 'base.html' %}
		<header>
			<div class="row-bot">
				<div class="main">
					<div class="wrapper">
						<article class="grid_8">
							<div class="extra-wrap indent">
								{% if messages %}
								<ul>
									{% for message in messages %}
									<li>
										{{ message }}
									</li>
									{% endfor %}
								</ul>
								{% else %}
								<p>

								</p>
								{% endif %}

								{%if request.user.is_authenticated %}

								{%else%}
								<p>
									旅程地图是一个可以记录并分享你的旅程足迹，在地图上标记下来的网站。
								</p>
								<a class="button2" href="{%url 'reg'%}">注册</a>
								<a class="button2" href="{%url 'login'%}">登录</a>
								{%endif%}
							</div>
						</article>
						<article class="grid_4">
							<div class="indent-top">
								<div class="box">

								</div>
							</div>
						</article>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</header>

		<!--==============================content================================-->
		<section id="content">
			<div class="ic">
				More Website Templates @ <a href="http://www.mycodes.net/" >网页模板</a> - February 06, 2012!
			</div>

			<div class="main">
				<div class="container_12">
					<div class="wrapper p3">
						<div id="mapcontainer" / ></div>

						<div class="wrapper">
							<article class="grid_8">
								<h2>路线列表：</h2>
								<div>
									<table id="route_list_table" width="500" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td height="30" align="center" bgcolor="#CCCCCC">序号</td>
											<td align="center" bgcolor="#CCCCCC">名称</td>
											<td align="center" bgcolor="#CCCCCC">操作</td>
											<td align="center" bgcolor="#CCCCCC" hidden = "true"></td>
										</tr>

										<tr>
											<td height="30" align="center">
											<input type="text" size="2" value="1" />
											</td>
											<td align="center">
											<input type="text" name="brief_title" />
											</td>
											<td align="center"  name = "newtd">
											<input type="button"  id="getinfo" name='getinfo' onclick="deltr(this)"  value="删除" />
											<!--onclick="deltr()" --></td>
											<td>
											<input type="text" size="2" value="1"  hidden = "true"/>
											</td>
										</tr>

									</table>
								</div>
							</article>
							<article class="grid_4">
								<div class="indent-top">
									<div class="box">
										<div class="padding">
											<h3 class="indent-bot">添加地点</h3>
											<div>
												<div>
													<p>
														起点:
														<input id="add_start" type="text" name="fname" />
														<div class="search_suggest" id="add_start_search_suggest">
															<ul></ul>
														</div>
													</p>
													<p>
														重点:
														<input id="add_end" type="text" name="lname" />
													</p>
													<input type="submit" value="保存" onclick="addSave()"/>
												</div>
											</div>
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
		</section>

		<!--==============================footer=================================-->
		<footer>
			<div class="main">
				<div class="container_12">
					<div class="wrapper">
						<div class="grid_8">
							<div class="aligncenter">
								Eagles Troops &copy; 2012
								<span><a rel="nofollow" target="_blank" href="http://www.mycodes.net/">Website Template</a> | <a rel="nofollow" target="_blank" href="http://www.mycodes.net/">源码之家</a></span>
							</div>
						</div>
						<div class="grid_3 prefix_1">
							<ul class="list-services">
								<li>
									<a href="#"></a>
								</li>
								<li class="item-1">
									<a href="#"></a>
								</li>
								<li class="item-2">
									<a href="#"></a>
								</li>
								<li class="item-3">
									<a href="#"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script type="text/javascript">
			Cufon.now();
		</script>
		<script type="text/javascript">
			//实现搜索输入框的输入提示js类
			function oSearchSuggest(searchFuc) {
				var input = $('#add_start');
				var suggestWrap = $('#add_start_search_suggest');
				var key = "";
				var init = function() {
					input.bind('keyup', sendKeyWord);
					input.bind('blur', function() {
						setTimeout(hideSuggest, 100);
					});
				};
				var hideSuggest = function() {
					suggestWrap.hide();
				};
				//发送请求，根据关键字到后台查询
				var sendKeyWord = function(event) {

					//键盘选择下拉项
					if (suggestWrap.css('display') == 'block' && event.keyCode == 38 || event.keyCode == 40) {
						var current = suggestWrap.find('li.hover');
						if (event.keyCode == 38) {
							if (current.length > 0) {
								var prevLi = current.removeClass('hover').prev();
								if (prevLi.length > 0) {
									prevLi.addClass('hover');
									input.val(prevLi.html());
								}
							} else {
								var last = suggestWrap.find('li:last');
								last.addClass('hover');
								input.val(last.html());
							}

						} else if (event.keyCode == 40) {
							if (current.length > 0) {
								var nextLi = current.removeClass('hover').next();
								if (nextLi.length > 0) {
									nextLi.addClass('hover');
									input.val(nextLi.html());
								}
							} else {
								var first = suggestWrap.find('li:first');
								first.addClass('hover');
								input.val(first.html());
							}
						}

						//输入字符
					} else {
						var valText = $.trim(input.val());
						if (valText == '' || valText == key) {
							return;
						}
						searchFuc(valText);
						key = valText;
					}

				};
				//请求返回后，执行数据展示
				this.dataDisplay = function(data) {
					if (data.length <= 0) {
						suggestWrap.hide();
						return;
					}

					//往搜索框下拉建议显示栏中添加条目并显示
					var li;
					var tmpFrag = document.createDocumentFragment();
					suggestWrap.find('ul').html('');
					for (var i = 0; i < data.length; i++) {
						li = document.createElement('LI');
						li.innerHTML = data[i];
						tmpFrag.appendChild(li);
					}
					suggestWrap.find('ul').append(tmpFrag);
					suggestWrap.show();

					//为下拉选项绑定鼠标事件
					suggestWrap.find('li').hover(function() {
						suggestWrap.find('li').removeClass('hover');
						$(this).addClass('hover');

					}, function() {
						$(this).removeClass('hover');
					}).bind('click', function() {
						input.val(this.innerHTML);
						suggestWrap.hide();
					});
				};
				init();
			};

			//实例化输入提示的JS,参数为进行查询操作时要调用的函数名
			var searchSuggest = new oSearchSuggest(sendKeyWordToBack);

			//这是一个模似函数，实现向后台发送ajax查询请求，并返回一个查询结果数据，传递给前台的JS,再由前台JS来展示数据。本函数由程序员进行修改实现查询的请求
			//参数为一个字符串，是搜索输入框中当前的内容
			function sendKeyWordToBack(keyword) {
				var paradata = {
					"text" : keyword
				};
				$.ajax({
					type : "GET",
					url : "/match_text/",
					dataType : "json",
					data : paradata,
					success : function(json) {
						if (json != null) {
							var data = json.toString();
							var aData = data.split(",");
							searchSuggest.dataDisplay(aData);
						} 
					}
				});

			}
		</script>
		<script type="text/javascript">
			/**
			 * 点类
			 */
			function TFPoint(ptitle, plng, plat) {
				this.title = ptitle;
				/**
				 * 经度
				 */
				this.lng = plng;
				/**
				 * 纬度
				 */
				this.lat = plat;
			}

			/**
			 * 路线类
			 */
			function TFRoute(pid, pfrom_title, pfrom_lng, pfrom_lat, pto_title, pto_lng, pto_lat) {
				this.id = pid;
				this.from = new TFPoint(pfrom_title, pfrom_lng, pfrom_lat);
				this.to = new TFPoint(pto_title, pto_lng, pto_lat);
			}

			/**
			 * 路线列表TFRoute
			 */
			var routelist = new Array();

			/**
			 * Routelist，刪除掉元素
			 */
			function removeRouteFromRouteList(routeid) {
				for (var i = 0; i < routelist.length; i++) {
					if (routelist[i].id == routeid) {
						routelist.splice(i, 1);
					}
				}
			}

			/**
			 * 用于地图显示的路线类
			 */
			function TFMapShowRoute(pid, pline, pstart, pend) {
				this.id = pid;
				this.line = pline;
				this.start = pstart;
				this.end = pend;
			}

			/**
			 * 路线列表地图元素
			 */
			var mapShowRoutelist = new Array();

			/**
			 * 初始化页面
			 */
			function init() {
				// initRouteListBrief();
				initMap();
				initRouteList();
			}

			/**
			 * Ajax获取路线列表（展示表格）
			 */
			function initRouteListBrief() {
				$.ajax({
					type : "GET",
					url : "/get_simpleroute_list/",
					dataType : "json",
					success : function(json) {
						var i = 0;
						var jsonO = eval("(" + json + ")");
						while (true) {
							if (jsonO.route[i] == null) {
								break;
							} else {
								// var jsr = route();
								// jsr.id = jsonO.route[i].id;
								// jsr.startName = jsonO.route[i].from_title;
								// jsr.endName = jsonO.route[i].to_title;
								// routelist.push(jsr);

								add_row_value(jsonO.route[i].from_title + " - " + jsonO.route[i].to_title);
							}
							i++;
						}
						$("#route_list_table").find("tr:eq(1)").hide();
					}
				});
			}

			/**
			 * Ajax获取路线列表（展示地图）
			 */
			function initRouteList() {
				$.ajax({
					type : "GET",
					url : "/get_simpleroute_list_line/",
					dataType : "json",
					success : function(json) {
						var i = 0;
						// window.alert(json);
						var jsonO = eval("(" + json + ")");
						while (true) {
							if (jsonO.route[i] == null) {
								break;
							} else {
								addRoute(jsonO.route[i]);
							}
							i++;
						}
						$("#route_list_table").find("tr:eq(1)").hide();
					}
				});
			}

			/**
			 * Ajax实时加载搜索建议
			 */
			function match_text(input_text) {
				$.ajax({
					type : "GET",
					url : "/get_simpleroute_list_line/",
					dataType : "json",
					data : input_text,
					success : function(json) {
						var jsonO = eval("(" + json + ")");
						while (true) {
							if (jsonO.route[i] == null) {
								break;
							} else {
								addRoute(jsonO.route[i]);
							}
							i++;
						}
						$("#route_list_table").find("tr:eq(1)").hide();
					}
				});
			}

			/**
			 * Ajax保存路线
			 */
			function saveRoute(paradata) {
				$.ajax({
					type : "GET",
					url : "/save_simpleroute/",
					dataType : "json",
					data : paradata,
					success : function(json) {
						var jsonO = eval("(" + json + ")");
						if (jsonO.route[0] == null) {
							alert("您输入的城市名看起来不太对，您再检查下吧");
							return;
						} else if (jsonO.route[0].has_error != null) {
							if (jsonO.route[0].has_error == "1") {
								alert("您输入的城市名看起来不太对，您再检查下吧");
								return;
							} else {
								alert("您输入的城市名看起来不太对，您再检查下吧");
								return;
							}
						} else {
							addRoute(jsonO.route[0]);
						}
					}
				});
			}

			/**
			 * Ajax删除路线
			 */
			function deleteRoute(paradata) {
				$.ajax({
					type : "GET",
					url : "/delete_simpleroute/",
					dataType : "json",
					data : paradata,
					success : function(json) {
						;
					}
				});
			}

			/**
			 * 增加路线
			 */
			function addRoute(routedata) {
				var jid = routedata.id;
				var jfrom_title = routedata.from_title;
				var jfrom_lng = routedata.from_lng;
				var jfrom_lat = routedata.from_lat;
				var jto_title = routedata.to_title;
				var jto_lng = routedata.to_lng;
				var jto_lat = routedata.to_lat;

				/* 画地图 */
				var from = initPoint(jfrom_lng, jfrom_lat);
				var to = initPoint(jto_lng, jto_lat);
				drawLine(jid, from, to);

				/* 保存JS变量 */
				var route = new TFRoute(jid, jfrom_title, jfrom_lng, jfrom_lat, jto_title, jto_lng, jto_lat);
				routelist.push(route);

				/* 画表格*/
				add_row_value(jfrom_title + " - " + jto_title, jid);
			}

			function add_row() {
				$("#route_list_table").find("tr:eq(1)").clone().appendTo("#route_list_table");
				//在表格后面添加一行
				$("tr:last td input:first").val(++count);
				//改变添加的行的ID值。
			}

			/**
			 * 对路线列表添加一行
			 * @param value 展示信息
			 */
			function add_row_value(value, id) {
				var count = routelist.length + 1;
				// 从第一行复制出来
				$("#route_list_table").find("tr:eq(" + (1) + ")").clone().appendTo("#route_list_table");
				//在表格后面添加一行
				$("#route_list_table").find("tr:eq(" + count + ")").find("td:eq(0)").text(count - 1);
				$("#route_list_table").find("tr:eq(" + count + ")").find("td:eq(1)").text(value);
				// 记录ID
				$("#route_list_table").find("tr:eq(" + count + ")").find("td:eq(3)").text(id);
				// 隐藏ID列
				$("#route_list_table").find("tr:eq(" + count + ")").find("td:eq(3)").hide();
			}

			/**
			 * 对路线列表删除一行
			 */
			function deltr(clickTd) {
				if (!confirm("你确定要删除？")) {
					return;
				}
				var tr = $(clickTd).parent().parent();
				var deleterouteid = tr.find("td:eq(3)").text();

				// 表格刪除
				tr.remove();

				// 服务器删除
				var paradata = {
					"routeid" : deleterouteid
				};
				deleteRoute(paradata);

				// JS数据删除
				removeRouteFromRouteList(deleterouteid);

				// 地图控件删除
				deleteLine(deleterouteid);
			}

			// function deltr() {
			// alert($("tr").find("td:eq(1)").text());
			// if (!confirm("你确定要删除？")) {
			// return;
			// }
			// var length = $("tr").length;
			// if (length <= 2) {
			// alert("至少保留一行");
			// } else {
			// var text = $("tr").find("td:eq(1)").text();
			//
			// var startname = text.split(" - ")[0];
			// var endname = text.split(" - ")[1];
			// var paradata = {
			// "startName" : startname,
			// "endName" : endname
			// };
			// deleteRoute(paradata);
			//
			// $("tr:last").remove();
			// count--;
			// }
			// }
			// $(function() {
			//
			// var objTds = $("td");
			//
			// objTds.click(function() {
			//
			// $(this).remove();
			//
			// })
			// })

			/**
			 * 保存一条路线
			 */
			function addSave() {
				var startname = $("#add_start").attr("value");
				var endname = $("#add_end").attr("value");
				var paradata = {
					"startName" : startname,
					"endName" : endname
				};
				saveRoute(paradata);
			}

			////////////////////////////////////////////////////////////
			// 地图相关

			/**
			 * 地图对象
			 */
			var
			map;

			/**
			 * 初始化地图
			 */
			function initMap() {
				map = new BMap.Map("mapcontainer");
				// 创建地图实例
				var spoint = new BMap.Point(116.404, 39.915);
				// 创建点坐标
				map.centerAndZoom(spoint, 10);
				// 初始化地图，设置中心点坐标和地图级别
				// map.centerAndZoom(point, 15); // 初始化地图，设置中心点坐标和地图级别
				map.centerAndZoom(spoint, 5);
				map.addControl(new BMap.NavigationControl());

				//var route_arr = '{{route_list}}';

				//var reg = new RegExp(/(&#39;)/g);
				//route_arr = route_arr.replace(reg, "");
				//route_arr = route_arr.substring(1, route_arr.length - 2).split(",");

				// window.alert (route_arr);
				// window.alert (route_arr.length);
				// for (var i = 0; i<route_arr.length; i+=4 ){
				//
				// map.addOverlay(
				// new BMap.Polyline([new BMap.Point(Number(route_arr[i]), Number(route_arr[i+1])), new BMap.Point(Number(route_arr[i+2]), Number(route_arr[i+3]))], {
				// strokeColor : "blue",
				// strokeWeight : 3,
				// strokeOpacity : 0.5
				// })
				// );
				// }

				//drawCircle(new BMap.Point(109.404, 39.915));
				//drawCircle(new BMap.Point(109.404, 37.915));
				//var bjPoint = new BMap.Point(109.404, 39.915);
				//getPoint();
				//alert(bjPoint.lng);
				//alert(bjPoint.lat);
				//drawCircle(bjPoint);
				//drawLine(bjPoint, new BMap.Point(116.404, 39.915));
				//drawLine(new BMap.Point(126.404, 39.915), new BMap.Point(116.404, 39.915));

				// test codes
				// var polyline1 = new BMap.Polyline([new BMap.Point(118.70718912023, 40.004529004226), new BMap.Point(118.18703339943, 39.636668880397)], {
				// strokeColor : "blue",
				// strokeWeight : 3,
				// strokeOpacity : 0.5
				// });
				// map.addOverlay(polyline1);
			}

			function initPoint(lng, lat) {
				var point = new BMap.Point(lng, lat);
				return point;
			}

			function drawCircle(point) {
				//var point = new BMap.Point(116.404, 39.915);
				var circle = new BMap.Circle(point, 20000);

				map.addOverlay(circle);
			}

			/**
			 * 在地图上画线
			 */
			function drawLine(id, start, end) {
				// var polyline = new BMap.Polyline([start, end], {
				var polyline = new BMapLib.CurveLine([start, end], {
					strokeColor : "blue",
					strokeWeight : 3,
					strokeOpacity : 0.5
				});
				map.addOverlay(polyline);
				//polyline.enableEditing();
				//map.removeOverlay(polyline);
				var markerStart = new BMap.Marker(start, {
					icon : new BMap.Icon('http://api.map.baidu.com/library/CurveLine/1.5/src/circle.png', new BMap.Size(16, 16)),
					enableDragging : false,
					raiseOnDrag : false
				});
				map.addOverlay(markerStart);
				var markerEnd = new BMap.Marker(end, {
					icon : new BMap.Icon('http://api.map.baidu.com/library/CurveLine/1.5/src/circle.png', new BMap.Size(16, 16)),
					enableDragging : false,
					raiseOnDrag : false
				});
				map.addOverlay(markerEnd);

				var mapshow = new TFMapShowRoute(id, polyline, markerStart, markerEnd);
				mapShowRoutelist.push(mapshow);
			}

			/**
			 * 在地图上删除线
			 */
			function deleteLine(routeid) {
				for (var i = 0; i < mapShowRoutelist.length; i++) {
					if (mapShowRoutelist[i].id == routeid) {
						alert('get');
						map.removeOverlay(mapShowRoutelist[i].line);
						map.removeOverlay(mapShowRoutelist[i].start);
						map.removeOverlay(mapShowRoutelist[i].end);
						mapShowRoutelist.splice(i, 1);
					}
				}
			}
		</script>
	</body>
</html>
