<!DOCTYPE html>

<html>
	<head>
		<title>Bikers</title>
		<meta charset="utf-8">
		{% load staticfiles %}
		<link href="{% static "tourfp_nweb/css/style.css" %}" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div id="page">
			<div id="header">
				<!-- start of header -->
				<ul>
					<li class="current">
						<a href="{%url 'index' %}">主页</a>
					</li>
					<li>
						<a href="about.htm">关于</a>
					</li>
					<li>
						<a href="gallery.htm">逛逛</a>
					</li>
					{%if request.user.is_authenticated %}
					<li>
						<a href="/people/{{request.user.username}}/map/">地图</a>
					</li>
					<li>
						<a>{{request.user.username}}</a>
					</li>
					<li>
						<a href="{%url 'logout' %}">注销</a>
					</li>
					{%else%}
					<li>
						<a href="{%url 'reg' %}"><b>注册</b></a>
					</li>
					<li>
						<a href="{%url 'login' %}"><b>登录</b></a>
					</li>
					{%endif%}
				</ul>

				<div>
					<a href="{%url 'reg' %}" class="join"></a>
					<h3>加入进来吧！</h3>
					<p>
						已有账号？点击登录
					</p>
				</div>
			</div>
			<!-- end of header -->
		</div>
	</body>
</html>
