<!DOCTYPE html>

<html>
	<head>
		<title>Bikers</title>
		<meta charset="utf-8">
		{% load staticfiles %}
		<link href="{% static "tourfp_nweb/css/style.css" %}" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="footer">
			<!-- start of footer part -->
			<div>
				<ul>
					<li>
						<a href="#" target="_blank" class="fb">微信</a>
					</li>
					<li>
						<a href="#" target="_blank" class="twitr">微博</a>
					</li>
				</ul>
				<span> &copy; Copyright &copy; 2014. <a href="index.htm">博勘工作室</a>All Rights Reserved </span>
			</div>
		</div>
		<!-- end of footer part -->
	</body>
</html>
