<!DOCTYPE html>

<html>
	<head>
		<title>Bikers</title>
		<meta charset="utf-8">
		{% load staticfiles %}
		<link href="{% static "tourfp_nweb/css/style.css" %}" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="page">
			{% include 'nbase.html' %}
			<div id="body">
				<div class="contents" >
					<h1>登录</h1>
					<div class="registration">
						<p>
							This website template has been collect from for you, for free. You can replace all this text with your own text.
							You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
							If you're having problems editing this website template, then don't hesitate to ask for help on the Forum.
						</p>
						{% if messages %}
						<ul>
								<li>
									帐号或密码错误，请检查是否输入有误
								</li>
						</ul>
						<ul>
							{% for message in messages %}
							{% endfor %}
						</ul>
						{% else %}
						{% endif %}
						<form action="/html_login_submit/" method="post" onsubmit='return checkInfo(this);'>
							{% csrf_token %}
							<table cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
										<td><label>用户名</label></td><td>
										<input type="text" name="username" class="txtfield" />
										</td>
									</tr>
									<tr>
										<td><label>密码</label></td><td>
										<input type="password" name="password" class="txtfield" />
										</td>
									</tr>
									<tr>
										<td colspan="2">
										<input type="submit" value="登录" class="button" />
										</td>
									</tr>
								</tbody>
							</table>
						</form>
						<p></p>
						还没有账号？快来<a href="{%url 'reg'%}"><b>注册</b></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;返回<a href="{%url 'index'%}">首页</a>
					</div>
				</div>
			</div>
			<!-- end of body wrapper -->
		</div>
		{% include 'nfooter.html' %}
		<!-- end of footer part -->
	</body>
	<script type="text/javascript">
		/**
		 * 校验填写的信息
		 */
		function checkInfo(form) {
			if (form.username.value == '') {
				alert('请输入用户名');
				form.username.focus();
				return false;
			}
			if (form.password.value == '') {
				alert('请输入密码');
				form.password.focus();
				return false;
			}
			return true;
		}
	</script>
</html>
